@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Machine>
@using UmbracoDemo.TestProject.Models.PageModels
@using UmbracoDemo.TestProject.Models.Poco
@using UmbracoDemo.TestProject.Models.Widgets
@{
    Layout = "Master.cshtml";
}



<div>
    <h1>@Model.DisplayName</h1>
    <h2>@Model.SerialNo</h2>
    <p>@Model.Description</p>
    <p></p>

    @await Html.PartialAsync("~/Views/Partials/GoogleMaps.cshtml", new GoogleMaps(){ Markers = new List<GoogleMapsMarker>() {
    new GoogleMapsMarker {
    Lat = @Model.Lat,
    Long = @Model.Long,
    InfoWindowTitle = @Model.DisplayName,
    InfoWindowContent = @Model.Description
    }}})


    <div class="two-col">
        <div>
                        <table cellspacing="0"> 
                    <tr>
                        <th>
                            TimeStamp
                        </th>
                        <th>
                            Type
                        </th>
                        <th>
                            Value
                        </th>
                        <th>
                            Unit
                        </th>
                    </tr>

                    @foreach (var metric in Model.Metrics)
                    {
                        <tr>
                            <td>
                                @metric.TimeStamp
                            </td>
                            <td>
                                @metric.Type
                            </td>
                            <td>
                                @metric.Value
                            </td>
                            <td>
                                @metric.Unit
                            </td>
                        </tr>

                    }
                </table>
        </div>
        <div>
            <div>
    

                                @if (Model.Widgets != null && Model.Widgets.Any())
    {
        <div class="modules">
            @foreach (var widget in Model.Widgets)
            {

                if (widget is ChartWidget chartWidget)
                    chartWidget.Machine = Model;

                @await widget.RenderModule(this.Html)
            }
        </div>

    }
            </div>
        </div>
    </div>

    <div>
    </div>









</div>
